@page
@* Jessica Shamloo & Thomas Hodges *@
@model Lab2.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Employees";
}

<h2>Employee View</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead class="table-dark">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Street </th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Username</th>
            <th> </th>
            
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var emp in Model.EmployeeTable)
            {
            <tr>
                <td>@emp.FirstName</td>
                <td>@emp.LastName</td>
                <td>@emp.Email</td>
                <td>@emp.Phone</td>
                <td>@emp.Street</td>
                <td>@emp.City</td>
                <td>@emp.State</td>
                <td>@emp.Zip</td>
                <td>@emp.UserName</td>
                <td>
                <a asp-page="EditEmployees" class="btn btn-outline-primary" asp-route-employeeid="@emp.EmployeeID">Edit -></a>
                </td>
            </tr>
            }
        }
    </tbody>
    
</table>
<br />
<a asp-page="/Employees/AddEmployee" class="btn btn-outline-success">Create User</a>





