@page
@* Jessica Shamloo *@
@model Lab1Part3.Pages.KnowledgeItems.EditKnowledgeItemModel
@{
    ViewData["Title"] = "Edit KnowledgeItem";
}


<form asp-page="EditKnowledgeItem">
    <input type="hidden" asp-for="@Model.KnowledgeItemToUpdate.KnowledgeId" />
    <label asp-for="@Model.KnowledgeItemToUpdate.Name"></label>
    <input type="text" asp-for="@Model.KnowledgeItemToUpdate.Name" />
    <br />
    <label asp-for="@Model.KnowledgeItemToUpdate.Subject"></label>
    <input type="text" asp-for="@Model.KnowledgeItemToUpdate.Subject" />
    <br />
    <label asp-for="@Model.KnowledgeItemToUpdate.Category"></label>
    <input type="text" asp-for="@Model.KnowledgeItemToUpdate.Category" />
    <br />
    <label asp-for="@Model.KnowledgeItemToUpdate.Information"></label>
    <input type="text" asp-for="@Model.KnowledgeItemToUpdate.Information" />
    <br />
    <label asp-for="@Model.KnowledgeItemToUpdate.KnowledgeDateTime"></label>
    <input type="text" asp-for="@Model.KnowledgeItemToUpdate.KnowledgeDateTime" />
    <br />
    <label asp-for="@Model.KnowledgeItemToUpdate.EmployeeID"></label>
    <input type="number" asp-for="@Model.KnowledgeItemToUpdate.EmployeeID" />
    <br /><br />
    <input type="submit" class="btn btn-success" asp-page="EditKnowledgeItem" />
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>
