@page
@model Lab2.Pages.KnowledgeItems.IndexModel
@{
    ViewData["Title"] = "KnowledgeItems";
}

<h2>Knowledge Items</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Category</th>
            <th>Information</th>
            <th>KnowledgeDateTime </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var kitem in Model.KnowledgeItemsTable)
            {
                <tr>
                    <td>@kitem.Name</td>
                    <td>@kitem.Subject</td>
                    <td>@kitem.Category</td>
                    <td>@kitem.Information</td>
                    <td>@kitem.KnowledgeDateTime</td>
                    <td>
                    <a asp-page="EditKnowledgeItem" class="btn btn-outline-primary" asp-route-knowledgeid="@kitem.KnowledgeId">Edit -></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a asp-page="/KnowledgeItems/AddKnowledgeItem" class="btn btn-outline-success">Add a New Knowledge Item</a>
