@page
@model Lab2.Pages.KnowledgeItems.IndexModel
@{
    ViewData["Title"] = "KnowledgeItems";
}

<h2>Knowledge Items</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Category</th>
            <th>Information</th>
            <th>Created/Last Modified </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var kitem in Model.KnowledgeItemsTable)
            {
                <tr>
                    <td>@kitem.Name</td>
                    <td>@kitem.Subject</td>
                    <td>@kitem.Category</td>
                    <td>@kitem.Information</td>
                    <td>@kitem.KnowledgeDateTime</td>
                    <td>
                        <a asp-page="EditKnowledgeItem" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white;" asp-route-knowledgeid="@kitem.KnowledgeId">Edit -></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a asp-page="/KnowledgeItems/AddKnowledgeItem" class="btn" style=" background-color:rebeccapurple; -webkit-text-fill-color:white;">Add a New Knowledge Item</a>
<br />
<a asp-page="/SWOTs/Index" style="-webkit-text-fill-color:rebeccapurple;">View SWOT Items</a>