@* Jessica Shamloo, Thomas Hodges & Nick Patterson *@
@page "{CollabID:int}/{TeamName}"
@using System.Data.SqlClient
@using Lab2.Pages.DB
@using Microsoft.AspNetCore.Http
@model Lab2.Pages.Collaborations.IndexModel
@{
    ViewData["Title"] = "Collaboration";
}

<h2 class="h2">@RouteData.Values["TeamName"] Collaboration Space</h2>
<br />
<br/>
<h4 class="h4">Collaborators</h4>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>

    </thead>
    <tbody>
        @{
        string sqlQuery = @"SELECT Collaboration.TeamName, Employee.FirstName, Employee.LastName
        from Collaboration INNER JOIN EmployeeCollab on EmployeeCollab.CollabID = Collaboration.CollabID
        INNER JOIN Employee on Employee.EmployeeID = EmployeeCollab.EmployeeID WHERE Collaboration.CollabID=";
        sqlQuery += @RouteData.Values["CollabID"];
        
            SqlDataReader EmployeeCollabReader = DBClass.GeneralReaderQuery(sqlQuery);
            while (EmployeeCollabReader.Read())
            {
                <tr>
                    <td>@EmployeeCollabReader["FirstName"]</td>
                    <td>@EmployeeCollabReader["LastName"]</td>
                </tr>
            }
            DBClass.Lab2DBConnection.Close();
        }
    </tbody>
</table>
<a asp-page="/EmployeeCollabs/NewEmployeeCollab" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white;">Add a Team Member</a>

<br />
<br/>
    <h4 class="h4">Knowledge Library:</h4>
    <form asp-action="Collaborations" >
    <p>Choose Employee to View Their Knowledge Items:</p>
    <br />
    <select asp-for="EmployeeID" asp-items="Model.EmployeeList">
        <option value="">Choose an Employee</option>
    </select>
    <button asp-page="/Collaborations/Index" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white; padding:5px 15px; box-shadow; display:inline-block;">Submit</button>

    </form>
    <br />

@if (Model.KnowledgeNamesCount > 0)
{
    <h5 class="h5">Knowledge Item Names for Selected Employee:</h5>
    
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Subject</th>
                <th>Category</th>
                <th>Information</th>
                <th>KnowledgeDateTime </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var name in Model.KnowledgeNames)
                {
                    <tr>
                        <td>@name.Name</td>
                        <td>@name.Subject</td>
                        <td>@name.Category</td>
                        <td>@name.Information</td>
                        <td>@name.KnowledgeDateTime</td>
                        <td>
                            <a asp-page="/KnowledgeItems/EditKnowledgeItem" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white;" asp-route-knowledgeid="@name.KnowledgeId">Edit -></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <a asp-page="/KnowledgeItems/AddKnowledgeItem" class="btn" style=" background-color:rebeccapurple; -webkit-text-fill-color:white;">Add a New Knowledge Item</a>
    <a asp-page="/SWOTs/AddSWOT" class="btn" style=" background-color:rebeccapurple; -webkit-text-fill-color:white;">Add Data to SWOT Item</a>
    <br />
    <a asp-page="/SWOTs/Index" style="-webkit-text-fill-color:rebeccapurple;">View SWOT Items</a>
}
<br/>
<br />
<h2>Plans</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>PlanName</th>
            <th>PlanConcept</th>
            <th>DateCreated</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @{
            sqlQuery = @"SELECT Plans.PlanName, Plans.PlanConcept, Plans.DateCreated, Plans.PlanID, Collaboration.CollabID
        from Plans INNER JOIN Collaboration ON Collaboration.CollabID = Plans.CollabID 
        WHERE Collaboration.CollabID=";
            sqlQuery += @RouteData.Values["CollabID"];

            SqlDataReader PlanReader = DBClass.GeneralReaderQuery(sqlQuery);
            while (PlanReader.Read())
            {
                <tr>
                    <td>@PlanReader["PlanName"]</td>
                    <td>@PlanReader["PlanConcept"]</td>
                    <td>@PlanReader["DateCreated"]</td>
                    <td>
                        <a asp-page="/PlanSteps/Index" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white;" asp-route-planid="@PlanReader["PlanID"]" asp-route-planname="@PlanReader["PlanName"]">View Steps</a>
                    </td>
                </tr>
            }
            DBClass.Lab2DBConnection.Close();
        }
    </tbody>
</table>
<a asp-page="/Plan/AddPlan" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white;">Add Plan</a>

<br/>
<br/>

<h2>Data Files</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead >
        <tr>
            
            <th>DataName</th>
            <th>DataLocation</th>
            <th>DataDescription</th>
        </tr>
    </thead>
    <tbody>
        @{
        sqlQuery = @"SELECT DataFile.DataName, DataFile.DataLocation, DataFile.DataDescription, Collaboration.CollabID
        from DataFile INNER JOIN DataCollab ON DataCollab.DataID = DataFile.DataID
        INNER JOIN Collaboration ON Collaboration.CollabID = DataCollab.CollabID
        WHERE Collaboration.CollabID=";
        sqlQuery += @RouteData.Values["CollabID"];

            SqlDataReader DataFileReader = DBClass.GeneralReaderQuery(sqlQuery);
            while (DataFileReader.Read())
            {
                <tr>
                    <td>@DataFileReader["DataName"]</td>
                    <td>@DataFileReader["DataLocation"]</td>
                    <td>@DataFileReader["DataDescription"]</td>
                </tr>
            }
         }
    </tbody>
</table>
<a asp-page="/DataFiles/AddDataFile" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white; padding:5px 15px; box-shadow; display:inline-block;">Add a New Data File</a>

</br>
</br>

<h2>Chats</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>From </th>
            <th>Chat Message</th>
            <th>Chat DateTime</th>
        </tr>
    </thead>
    <tbody>
        @{
            sqlQuery = @"SELECT Employee.Username, Chat.ChatMessage, Chat.ChatDateTime
        FROM Chat INNER JOIN EmployeeCollab ON Chat.EmployeeID=EmployeeCollab.EmployeeID
        INNER JOIN Employee ON Employee.EmployeeID=Chat.EmployeeID
        INNER JOIN Collaboration ON EmployeeCollab.CollabID=Collaboration.CollabID WHERE Collaboration.CollabID=";
            sqlQuery += @RouteData.Values["CollabID"];

            SqlDataReader ChatReader = DBClass.GeneralReaderQuery(sqlQuery);
            while (ChatReader.Read())
            {
                <tr>
                    <td>@ChatReader["DataName"]</td>
                    <td>@ChatReader["DataLocation"]</td>
                    <td>@ChatReader["DataDescription"]</td>
                </tr>
            }
        }

        @* @foreach (var chat in Model.NewChat)
        {
            <tr>
                <td>@chat.UserName</td>
                <td>@chat.ChatMessage</td>
                <td>@chat.ChatDateTime</td>
            </tr>
        } *@

    </tbody>
</table>

<form method="post">
    <div class="form-group">
        <input type="hidden" class="form-control" asp-for="NewChats.EmployeeID" value="@HttpContext.Session.GetInt32("EmployeeID")" required />
        <span class="validity" />
    </div>
    <div class="form-group">
        <label asp-for="NewChats.ChatMessage">Chat Message:</label>
        <textarea class="form-control" rows="3" asp-for="NewChats.ChatMessage" required></textarea>
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" asp-for="NewChats.ChatDateTime" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" required />
        <span class="validity" />
    </div>
    <br />
    <button asp-page-handler="ChatPost" class="btn" style="background-color: rebeccapurple; -webkit-text-fill-color: white">Send Chat</button>
</form>
