@* Jessica Shamloo, Thomas Hodges & Nick Patterson *@
@page "{CollabID:int}/{TeamName}"
@using System.Data.SqlClient
@using Lab2.Pages.DB
@using Microsoft.AspNetCore.Http
@model Lab2.Pages.Collaborations.IndexModel
@{
    ViewData["Title"] = "Collaboration";
}

<h2 class="h2">@RouteData.Values["TeamName"] Collaboration Space</h2>
<br />
<br/>
<h4 class="h4">Collaborators</h4>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>

    </thead>
    <tbody>
        @{
        string sqlQuery = @"SELECT Collaboration.TeamName, Employee.FirstName, Employee.LastName
        from Collaboration INNER JOIN EmployeeCollab on EmployeeCollab.CollabID = Collaboration.CollabID
        INNER JOIN Employee on Employee.EmployeeID = EmployeeCollab.EmployeeID WHERE Collaboration.CollabID=";
        sqlQuery += @RouteData.Values["CollabID"];
        
            SqlDataReader EmployeeCollabReader = DBClass.GeneralReaderQuery(sqlQuery);
            while (EmployeeCollabReader.Read())
            {
                <tr>
                    <td>@EmployeeCollabReader["FirstName"]</td>
                    <td>@EmployeeCollabReader["LastName"]</td>
                </tr>
            }
            DBClass.Lab2DBConnection.Close();
        }
    </tbody>
</table>
<a asp-page="/EmployeeCollabs/NewEmployeeCollab" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white;">Add a Team Member</a>

<br />
<br/>
    <h4 class="h4">Knowledge Library:</h4>
    <form asp-action="Collaborations" >
    <p>Choose Employee to View Their Knowledge Items:</p>
    <br />
    <select asp-for="EmployeeID" asp-items="Model.EmployeeList">
        <option value="">Choose an Employee</option>
    </select>
    <button asp-page="/Collaborations/Index" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white; padding:5px 15px; box-shadow; display:inline-block;">Submit</button>

    </form>
    <br />

@if (Model.KnowledgeNames != null)
{
    <h5 class="h5">Knowledge Item Names for Selected Employee:</h5>
    <p>
        @foreach (var name in Model.KnowledgeNames)
        {
            <li>@name.Name</li>
        }
    </p>
}
<br/>
<br />

<h2>Plans</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead >
        <tr>
            <th>PlanName</th>
            <th>PlanConcept</th>
            <th>DateCreated</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @* @{
        string plansqlQuery = @"SELECT Plans.PlanName, Plans.PlanConcept, Plans.DateCreated, Plans.PlanID
        from Plans INNER JOIN Collaboration ON Collaboration.CollabID = Plans.CollabID
        WHERE Collaboration.CollabID=";
        plansqlQuery += @RouteData.Values["CollabID"];
        
            SqlDataReader PlanReader = DBClass.GeneralReaderQuery(plansqlQuery);
            while (PlanReader.Read())
            {
                <tr>
                    <td>@PlanReader["PlanName"]</td>
                    <td>@PlanReader["PlanConcept"]</td>
                    <td>@PlanReader["DateCreated"]</td>
                    <td>
                        <a asp-page="/PlanSteps/Index" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white;" asp-route-planid="@PlanReader.PlanID" asp-route-planname="@PlanReader.PlanName">View Steps</a>
                    </td>
                </tr>
            }
            DBClass.Lab2DBConnection.Close();
        } *@
        @{
            foreach (var emp in Model.PlansTable)
            {
                <tr>
              
                    <td>@emp.PlanName</td>
                    <td>@emp.PlanConcept</td>
                    <td>@emp.DateCreated</td>
                    <td>
                        <a asp-page="/PlanSteps/Index" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white;" asp-route-planid="@emp.PlanID" asp-route-planname="@emp.PlanName">View Steps</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a asp-page="/Plan/AddPlan" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white; padding:5px 15px; box-shadow; display:inline-block;">Add a New Plan</a>

<br />
<br/>


<br/>
<br/>

<h2>Data Files</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead >
        <tr>
            
            <th>DataName</th>
            <th>DataLocation</th>
            <th>DataDescription</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var dta in Model.DataTable)
            {
                <tr>
                    
                    <td>@dta.DataName</td>
                    <td>@dta.DataLocation</td>
                    <td>@dta.DataDescription</td>
                </tr>
            }
        }
    </tbody>
</table>
<a asp-page="/DataFiles/AddDataFile" class="btn" style="background-color:rebeccapurple; -webkit-text-fill-color:white; padding:5px 15px; box-shadow; display:inline-block;">Add a New Data File</a>

</br>
</br>
</br>

<h2>Chats</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead >
        <tr>
            <th>Chat Message</th>
            <th>Chat DateTime</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chat in Model.NewChat)
        {
            <tr>
                <td>@chat.ChatMessage</td>
                <td>@chat.ChatDateTime</td>
                <td>@chat.UserName</td>
            </tr>
        }

    </tbody>
</table>

<form method="post">
    <div class="form-group">
        <label asp-for="NewChats.UserName">UserName:</label>
        <input type="text" class="form-control" asp-for="NewChats.UserName" required>
    </div>
    <div class="form-group">
        <label asp-for="NewChats.ChatMessage">Chat Message:</label>
        <textarea class="form-control" rows="3" asp-for="NewChats.ChatMessage" required></textarea>
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" asp-for="NewChats.ChatDateTime" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" required />
        <span class="validaty" />
    </div>
    <br />
    <button asp-page-handler="ChatPost" class="btn" style="background-color: rebeccapurple; -webkit-text-fill-color: white">Send Chat</button>
</form>