@page
@using System.Data.SqlClient
@using Lab1Part3.Pages.DB
@model Lab1Part3.Pages.Collaborations.IndexModel
@{
    ViewData["Title"] = "Collaborations";
}

<h2 class="h2">Collaboration Spaces</h2>

<Br/>

<h4 class="h4">Description</h4>
@{
    foreach (var emp in Model.CollaborationTable)
    {
        <tr>
            <td>@emp.NotesAndInformation</td>
        </tr>
        <br/>
    }
}

<br/>


<h4 class="h4">Collaborators</h4>

<table class="table table-bordered table-responsive table-hover">
    <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            
        </tr>

    </thead>
    <tbody>
        @{
            // @ Symbol for a verbatim / multi-line string
            string sqlQuery = @"select Collaboration.TeamName, Employee.FirstName, Employee.LastName
        from Collaboration
        INNER JOIN EmployeeCollab
        on EmployeeCollab.CollabID = Collaboration.CollabID
        INNER JOIN Employee
        on Employee.EmployeeID = EmployeeCollab.EmployeeID;
        ";

            SqlDataReader EmployeeCollabReader = DBClass.GeneralReaderQuery(sqlQuery);

            while (EmployeeCollabReader.Read())
            {
                <tr>
                    <td>@EmployeeCollabReader["FirstName"]</td>
                    <td>@EmployeeCollabReader["LastName"]</td>
                </tr>
            }

            DBClass.Lab1DBConnection.Close();

        }
    </tbody>
</table>
<br/>


    <h4 class="h4">Knowledge Library:</h4>
    <form asp-action="Collaborations" >
    <p>Choose Employee to View Their Knowledge Items:</p>
    <br />
    <select asp-for="EmployeeID" asp-items="Model.EmployeeList">
        <option value="">Choose an Employee</option>
    </select>
    <input type="submit" class="btn btn-primary" asp-page ="/Collaborations/Index"/>

    </form>
    <br />

    

@if (Model.KnowledgeNames != null)
{
    <h5 class="h5">Knowledge Item Names for Selected Employee:</h5>
    <p>
        @foreach (var name in Model.KnowledgeNames)
        {
            <li>@name.Name</li>
        }
    </p>
}

<br/>


<h2>Plans</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead class="table-dark">
        <tr>
            <th>PlanName</th>
            <th>PlanConcept</th>
            <th>DateCreated</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var emp in Model.PlansTable)
            {
                <tr>
              
                    <td>@emp.PlanName</td>
                    <td>@emp.PlanConcept</td>
                    <td>@emp.DateCreated</td>
                </tr>
            }
        }
    </tbody>
</table>

<a asp-page="/Plan/AddPlan" class="btn btn-outline-success">Add a New Plan</a>

<br />
<a asp-page="/PlanSteps/Index" class="btn btn-primary">View Plan Steps</a>


<br/>
<br/>

<h2>Data Files</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead class="table-dark">
        <tr>
            
            <th>DataName</th>
            <th>DataLocation</th>
            <th>DataDescription</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var dta in Model.DataTable)
            {
                <tr>
                    
                    <td>@dta.DataName</td>
                    <td>@dta.DataLocation</td>
                    <td>@dta.DataDescription</td>
                </tr>
            }
        }
    </tbody>
</table>
<a asp-page="/DataFiles/AddDataFile" class="btn btn-outline-success">Add a New Data File</a>


<h2>Chats</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Chat Message</th>
            <th>Chat DateTime</th>
            <th>Employee ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chat in Model.NewChat)
        {
            <tr>
                <td>@chat.ChatMessage</td>
                <td>@chat.ChatDateTime</td>
                <td>@chat.EmployeeID</td>
            </tr>
        }

    </tbody>
</table>

<form method="post">
    <div class="form-group">
        <label for="EmployeeID">Employee ID:</label>
        <input type="text" class="form-control" id="EmployeeID" name="NewChats.EmployeeID" required>
    </div>
    <div class="form-group">
        <label for="ChatMessage">Chat Message:</label>
        <textarea class="form-control" id="ChatMessage" name="NewChats.ChatMessage" rows="3" required></textarea>
    </div>
    <div class="form-group">
        <label for="ChatDateTime">Chat DateTime:</label>
        <textarea class="form-control" id="ChatDateTime" name="NewChats.ChatDateTime" required></textarea>
    </div>
    <button asp-page="/Collaborations/Index"  asp-page-handler="ChatPost" class="btn btn-primary">Send Chat</button>
</form>