@*Nick Patterson*@
@page
@model Lab1Part3.Pages.Plan.IndexModel
@{
    ViewData["Title"] = "Plan";
}

<h2>Plans</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>PlanID</th>
            <th>PlanName</th>
            <th>PlanConcept</th>
            <th>DateCreated</th>
            <th>AnalysisUsed</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var emp in Model.PlansTable)
            {
            <tr>
                <td class="text-danger">@emp.PlanID</td>
                <td>@emp.PlanName</td>
                <td>@emp.PlanConcept</td>
                <td>@emp.DateCreated</td>
                <td>@emp.AnalysisUsed</td>
            </tr>
            }
        }
    </tbody>
</table>
<a asp-page="/Plan/AddPlan" class="btn btn-outline-success">Add a New Plan</a>
